Options -MultiViews
RewriteEngine On

RewriteBase /Brainster/Brainster_Projects/brainsterprojects_dimchekartinovfs6/public/

RewriteCond  %{REQUEST_FILENAME} !-d
RewriteCond  %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]